{% extends "base.html" %}

{% block title %}Login - AUSAAS{% endblock %}

{% block content %}
    <h2>Login</h2>
    <form method="POST">
        {{ form.csrf_token }}
        <div>
            {{ form.username.label }}<br>
            {{ form.username(size=30) }}
            {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.password.label }}<br>
            {{ form.password(size=30, id='loginPasswordInput') }} {# Added id="loginPasswordInput" #}
            {# --- NEW: Show Password Checkbox for loginPasswordInput --- #}
            <input type="checkbox" id="showPasswordLogin" class="show-password-toggle">
            <label for="showPasswordLogin">Show Password</label>
            {# --- END NEW --- #}
            {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.remember_me.label }} {{ form.remember_me() }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}

{% block scripts %} {# Ensure this block exists in base.html #}
<script>
    // NEW: Show Password Toggle for Login Form
    const loginPasswordInput = document.getElementById('loginPasswordInput');
    const showPasswordLogin = document.getElementById('showPasswordLogin');

    // Helper function to toggle password visibility (reused from register.html concept)
    function togglePasswordVisibility(inputElement, checkboxElement) {
        if (checkboxElement.checked) {
            inputElement.type = 'text';
        } else {
            inputElement.type = 'password';
        }
    }

    if (showPasswordLogin && loginPasswordInput) {
        showPasswordLogin.addEventListener('change', () => togglePasswordVisibility(loginPasswordInput, showPasswordLogin));
    }
    // END NEW: Show Password Toggle for Login Form

</script>
{% endblock %}